Python_Code/flows.json
[{"id":"dc7e78b.5f03b08","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a054a395.e47b58","type":"mysql","z":"dc7e78b.5f03b08","mydb":"30e8f97b.3feb46","name":"","x":330,"y":140,"wires":[["2ea64fbd.299c7","4bc6f999.def918"]]},{"id":"8ba6b7ed.26b76","type":"inject","z":"dc7e78b.5f03b08","name":"","topic":"SELECT *  FROM Std_db","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":140,"wires":[["a054a395.e47b58"]]},{"id":"abf8e837.0bef3","type":"ui_template","z":"dc7e78b.5f03b08","group":"e45cc30b.6f2d3","name":"template","order":4,"width":"8","height":"4","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":720,"y":160,"wires":[[]]},{"id":"2ea64fbd.299c7","type":"function","z":"dc7e78b.5f03b08","name":"","func":"var temp = {};\nvar html = \"<table width='100%'><tr><td width='50%'>Nom</td><td width='25%'>Prénom</td><td width='25%'>State</td></tr>\";\nvar ok = \"present\";\nvar nok = \"absent\";\nfor(var i in msg.payload)\n{\n    temp = msg.payload[i];\n    if(temp.State === 0)\n    {\n    html += \"<tr><td>\"+temp.Nom+\"</td><td>\"+temp.Prénom+\"</td><td>\"+nok+\"</td></tr>\";\n    }\n    else\n    {\n    html += \"<tr><td>\"+temp.Nom+\"</td><td>\"+temp.Prénom+\"</td><td>\"+ok+\"</td></tr>\";\n    }\n}\nhtml += \"</table>\";\nmsg.payload = html;\nreturn msg;\n","outputs":1,"noerr":0,"x":510,"y":140,"wires":[["abf8e837.0bef3"]]},{"id":"5b37e4b.967bb9c","type":"debug","z":"dc7e78b.5f03b08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":380,"wires":[]},{"id":"57b85c97.8992c4","type":"ui_gauge","z":"dc7e78b.5f03b08","name":"","group":"e45cc30b.6f2d3","order":2,"width":0,"height":0,"gtype":"gage","title":"Taux de présence","label":"Etudiants","format":"","min":0,"max":"100","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"","seg2":"","x":690,"y":220,"wires":[]},{"id":"4bc6f999.def918","type":"function","z":"dc7e78b.5f03b08","name":"","func":"\nvar temp = {};\nvar ok = \"present\";\nvar nok = \"absent\";\nvar count = 0;\nvar totalcout = 0;\nvar percent = 0;\nfor(var i in msg.payload)\n{\n    totalcout++;\n    temp = msg.payload[i];\n    if(temp.State === 0)\n    {\n    }\n    else\n    {\n    count++;\n    }\n}\n\npercent = (count*100)/totalcout;\nmsg.payload = percent;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":240,"wires":[["57b85c97.8992c4","5b37e4b.967bb9c","a9263ed4.a896d"]]},{"id":"af314363.277088","type":"ui_button","z":"dc7e78b.5f03b08","name":"","group":"e45cc30b.6f2d3","order":5,"width":"0","height":"0","passthru":false,"label":"Reset","tooltip":"","color":"purple","bgcolor":"white","icon":"","payload":"","payloadType":"str","topic":"update `Std_db` set state=0","x":90,"y":260,"wires":[["a874d20f.f59688"]]},{"id":"a874d20f.f59688","type":"mysql","z":"dc7e78b.5f03b08","mydb":"30e8f97b.3feb46","name":"","x":330,"y":260,"wires":[[]]},{"id":"a9263ed4.a896d","type":"ui_text","z":"dc7e78b.5f03b08","group":"e45cc30b.6f2d3","order":3,"width":0,"height":0,"name":"","label":"Pourcentage de présence","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":280,"wires":[]},{"id":"e33ec3e0.136038","type":"ui_date_picker","z":"dc7e78b.5f03b08","name":"","label":"date","group":"e45cc30b.6f2d3","order":1,"width":0,"height":0,"passthru":true,"topic":"","x":90,"y":200,"wires":[[]]},{"id":"30e8f97b.3feb46","type":"MySQLdatabase","z":"","host":"192.168.1.100","port":"3306","db":"student_database","tz":""},{"id":"e45cc30b.6f2d3","type":"ui_group","z":"","name":"Liste des étudiants","tab":"f8aff811.d7f988","order":1,"disp":true,"width":"8","collapse":false},{"id":"f8aff811.d7f988","type":"ui_tab","z":"","name":"Easy Student Scan","icon":"dashboard","disabled":false,"hidden":false}]
